[project]
	description = WebGL of PhySci Cinterlabs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sherwin Jet (wildtron)
[access "refs/for/refs/*"]
	read = group user/Sherwin Jet (wildtron)
	push = group user/Sherwin Jet (wildtron)
	label-Code-Review = -2..+2 group user/Sherwin Jet (wildtron)
	label-Verified = -1..+1 group user/Sherwin Jet (wildtron)
	rebase = group user/Sherwin Jet (wildtron)
	removeReviewer = group user/Sherwin Jet (wildtron)
	submit = group user/Sherwin Jet (wildtron)
[access "refs/heads/*"]
	read = group user/Sherwin Jet (wildtron)
	create = group user/Sherwin Jet (wildtron)
	push = +force group user/Sherwin Jet (wildtron)
	pushMerge = group user/Sherwin Jet (wildtron)
[access "refs/tags/*"]
	push = +force group user/Sherwin Jet (wildtron)
	pushTag = group user/Sherwin Jet (wildtron)
	pushSignedTag = group user/Sherwin Jet (wildtron)
